
 <p>
     <a class="btn btn-primary" href="/pictures/create" >+ new picture</a>
 </p>

<div class="row pictures-list">
    {{#each pictures}}
        <div class="col-lg-4">
            <a class="btn-remove-picture btn-link" href="#/picture/{{ this.id }}/remove" >
                <i class="glyphicon glyphicon-remove"></i>
            </a>

            <a class="btn btn-link" href="/gallery/id/picture/{{ this.id }}" >
                <img class="img-rounded" style="width: 140px; height: 140px;" src="{{ this.filepath }}" >
            </a>

            <p>{{ this.title }}</p>
        </div>
    {{/each}}
</div>
